
<div *ngIf="book; else nothing">
  <div class="card-body">
    <div class="row">
      <div class="col-md-10">
       <h3><strong>Chi tiết sách</strong></h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary mt-3" [routerLink]="['']" style="width: 116px">
         Danh sách
        </button>
      </div>
    </div>
    <table class="table table-bordered mt-2">
      <thead>
      <tr>
        <tr>
        <th scope="col">Title</th>
        <td>{{ book.title }}</td>
      </tr>
      <tr>
      <tr>
        <th scope="col">Author</th>
        <td>{{ book.author }}</td>
      </tr>
      <tr>
        <th scope="col">Description</th>
        <td>{{ book.description }}</td>
      </tr>
      </thead>
    </table>
  </div>
</div>

<ng-template #nothing></ng-template>
